html {
    margin: 10px 25px;
}
table {
    width: 90%;
    margin: 10px 20px;
    border: 1px solid black;
    border-radius: 10px;
    border-spacing: 0px;
    /* border-collapse: collapse; */
}
tr {
    /* vertical-align: top; */
    padding: 0px;
    margin: 0px;
}
tr:nth-child(even) { background-color: #ddd; }
tr th:first-child { border-top-left-radius: 10px }
tr th:last-child { border-top-right-radius: 10px }
tr:last-child td:first-child { border-bottom-left-radius: 10px }
tr:last-child td:last-child { border-bottom-right-radius: 10px }

th {
    color: white;
    background-color: #333;
}
th, td {
    text-align: left;
    padding: 3px 10px;
}
p {
    margin: 10px 20px;
}

.name {
    width: 15%;
}
